body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:white;
  background:#e5e5e5;
}

* {
  margin: 0;
  padding: 0;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
  background: url('../img/default.jpg');
  background-size: cover;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}


.menu a {
  display:block;
  width:35%;
  text-align:center;
  font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
  font-weight:700;
  letter-spacing:1px;
  font-size:25px;
  color:#fff;
  background:#ccc;
  text-decoration:none;
  text-transform:uppercase;
  text-shadow:2px 2px 0 rgba(0,0,0,.25);
  transition:.25s;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.menu a:nth-child(1) {  background:#ffca6d !important;}
.menu a:nth-child(2) {  background:#ff6d6d !important;}
.menu a:nth-child(3) {  background:#6dffb9 !important;}
.menu a:nth-child(4) {  background:#6dcaff !important;}
.menu a:nth-child(5) {  background:#ec6dff !important;}

.menu a:nth-child(1):hover ~ .bg {
  background: url('../img/scaryBackground.png');
  background-size: cover;
}
.menu a:nth-child(2):hover ~ .bg {
  background: url('../img/scifiBackground.png');
  background-size: cover;
}
.menu a:nth-child(3):hover ~ .bg {
  background: url('../img/kidsBackground.png');
  background-size: cover;
}
.menu a:nth-child(4):hover ~ .bg {
  background: url('../img/adventureBackground.png');
  background-size: cover;
}
.menu a:nth-child(5):hover ~ .bg {
  background: url('../img/eroticBackground.png');
  background-size: cover;
}

.menu a:nth-child(1):hover ~ .bg,
.menu a:nth-child(2):hover ~ .bg,
.menu a:nth-child(3):hover ~ .bg,
.menu a:nth-child(4):hover ~ .bg,
.menu a:nth-child(5):hover ~ .bg
  {
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
  }
